/* .NavBar {
  background-color: rgb(223, 236, 198);
  border: 1px solid #dadadf;
}

NavLink {
  padding: 5px;
}

.Active i {
  color: #2142b2;
} */

.NavBar {
  background-color: rgb(223, 236, 198);
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
  text-decoration: none;
  transition: color ease-in-out 0.3s;
}

/* .Active i {
  color: #2142b2;
} */

.NavLink:hover i {
  color: #2142b2;
  transition: color ease-in-out 0.3s;
}
